html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }

 .footer {
// bottom: 0;
    background-color: rgb(150, 98, 132);
    width: 100%;
    margin-bottom: -62.5px;
    flex-grow: 0; /*Запрещаем увеличиваться*/
  flex-shrink: 0; /*Запрещаем сжиматься*/
  flex-basis: auto;
  grid-row-start: 2;
  grid-row-end: 3;
 }

 .footer-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 80px;
    z-index: 1000;
    
 }
 .article {
   color: #fff;
   font-size: 16px;
    
 }

 .footer-link {
    text-decoration: underline;
 }

 .footer-link:visited {
    color: #fff;
    font-size: 16px;
    }

 .footer-link:hover,
 .footer-link:focus, 
 .footer-link:active {
    cursor: pointer;

 }