 .footer-container {
    position: fixed;
    // width: 100%;
    // bottom: 0;
    // left: 0;
    // z-index: 1000;
    background-color: green;
    // display: block;
    width: 100%;
    bottom: 0;

 }

 .article {
    text-align: center;
    color: red;
    padding-top: 30px;
    padding-bottom: 30px;
 }